@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
.menulinks {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.education {
  font-family: "Sofia";
}
#contactme{
  background-color: rgb(240, 205, 205);
}
#Knowledge {
  background-color: rgb(252, 255, 252);
}
#testimonials{
  background-color: rgb(94, 93, 93);
}
#projects {
  background-color: rgb(222, 222, 222);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.img {
  border-radius: 80px;
  background-color: orange;
}
#siya {
  border: solid rgb(189, 136, 136);
  border-radius: 60%;
  background-color: white;
}

#aboutme {
  background-image: url("https://i.postimg.cc/cJ8gNmr1/background-image-of.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: grid;
  place-items: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.696);
  height: 100%;
  width: 100%;
  position: absolute;
}

.overlay-content {
  z-index: 10;
}

div.text-logo_box,
.center-items {
  display: grid;
  place-items: center;
}
img.text-logo {
  width: 200px;
}

.icon {
  width: 80px;
}

.icon img {
  width: 100%;
}
footer {
  height: 150px;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  /* position: absolute; */
}
footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  font-size: 30px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

.testimonial-card{
  width: 300px;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
