*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.menulinks{
    width:100%;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.education{
    font-family: 'Sofia';
}
#contact{
    background-color: rgb(204, 204, 204);
}
#Knowledge{
    background-color: rgb(252, 255, 252);
}

#projects{
    background-color: rgb(222, 222, 222);
}
#contactfrm{
    background-color:rgb(157, 152, 144) ;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.img{
    border-radius: 80px;
    background-color: orange;
}
#siya{
    border:solid rgb(189, 136, 136);
    border-radius: 60%;
    background-color: white;
}


